@charset "utf-8";

.container {
    width: 95%;
    margin: 0 auto;
}

.flex1 {
    flex-flow: column;

    .imege1 {
        width: 100%;
        

        img {
            width: 100%;
        }

            p {
                margin-bottom: 30px;
            }
        }
    }


    .flex2 {
        flex-flow: column;

        .left {
            width: 100%;
        }
    }

    .right {
        width: 100%;
        margin-left: 0;

        .top {
            text-align: center;

            p {
                line-height: 1.5em;
            }
        }
    }


    .container2 {
        width: 95%;
        margin: 0 auto;
    
    .flexfooder {
        flex-flow: column;
        width: 100%;

        .box {
            width: 100%;
        }

        .tri {
            margin-bottom: 0 !important;
        }
    }
}

.twitter1 {
    width: 100%;
    overflow: scroll;
}